body {
    background:#efefef;
    color:#191919;
    font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

.navigator {
    background:#cfcfcf;
}

.navigator ul li {
    list-style:none;
    float:left;
    margin-right:10px;
    line-height:30px;
}

.navigator ul li.current {
    background:#a0a0a0;
}

.product-list {
    width:420px;
}

.product-list li {
    list-style:none;
    float:left;
    width:200px;
    margin-left:20px;
}

.product-list li.first {
    margin-left:0;
}

.api h3 {
    font-weight:800;
    font-size:20px;
    padding-left:40px;
}

.api h4 {
    padding-left:40px;
}

.api pre {
    background:#fff;
    padding:10px 0 10px 40px;
}